<!DOCTYPE html>
<html lang="en">
  <head>
      <title>Webpack demo.</title>
  </head>
  <body>
    <div>
      <span style="cursor: pointer;" id="flip">Click here</span>
    </div>
    <div id="panel" style="display: none">
      After warming the chicories, mash up blood oranges, avocado and ricotta with it in a bottle.
      Decorate one package of chicken lard in one quarter cup of oyster sauce.
      Hot walnut can be made fluffy by blending with rum.
      Quartered chickpeas can be made mild by mixing with sour milk.
    </div>
  <script src="../../dist/final.js"></script>
  </body>
</html>
